/* Body Styles */
body {
    text-align: center;
    background-color: #dee2e4;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

/* Container Styles */
.container-fluid {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* About Content Styles */
.about-content {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.about-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.about-content p {
    margin-bottom: 15px;
}

/* Center Content */
.row {
    display: flex;
    justify-content: center;
}
