<head lang="en">
    <link rel="icon" type="image/png" href="/static/image/note7.png" sizes="32x32" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet/home.css">
    <title>Creative Notebook</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="top">
        <div class="top-f" id="top-1">
         </div>
        <div  class="top-f" id="top-2">
          <h1 class="top-2-f"> Welcome, Note Website</h1>
            <a href="/log-in"> <button class="log_in">Log in</button></a>
            <img class="note7" src="/static/image/note7.png" alt="Girl in a jacket" width="150" height="150" >
         </div>
        
       
      <div class="top-f" id="top-3"> </div>
    </div>


    <div class="middle">
        <img class="note1" src="/static/image/note2.png" alt="Girl in a jacket" width="300" height="300" >
        <div class="centered"><img  src="/static/image/text3.png" alt="Girl in a jacket" width="100" height="150" ></div>
    </div>
    

</body>
<footer class="foot">
    <img class="note7" style="left: 5%; " src="/static/image/book.png" alt="Girl in a jacket" width="200" height="230" >
<div class="social">
    <h3>social contact</h3>
  
    <a href="https://www.facebook.com/profile.php?id=100053066719832"><i class="fa fa-facebook fa-fw"></i></a>
    <a href="https://www.instagram.com/invites/contact/?i=jcoy1rsl41es&utm_content=3q9bsmw"><i class="fa fa-instagram fa-fw"></i></a>
    <a href="https://www.linkedin.com/in/ankit-ahirwar-2006661b3"><i class="fa fa-linkedin fa-fw"></i></a>
    <a href=""><i class="fa fa-twitter fa-fw"></i></a>
</div>
</footer>